* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	text-decoration: none;
}

:root {
	--secondery: #253d4e;
	--acent: #ffe500;
	--text-xxxs: clamp(0.5786rem, 0.5656rem + 0.0652vi, 0.6243rem);
	--text-xxs: clamp(0.6174rem, 0.5931rem + 0.1213vi, 0.7023rem);
	--text-xs: clamp(0.6588rem, 0.6212rem + 0.1877vi, 0.7901rem);
	--text-sm: clamp(0.7029rem, 0.6498rem + 0.2657vi, 0.8889rem);
	--text-base: clamp(0.75rem, 0.6786rem + 0.3571vi, 1rem);
	--text-md: clamp(0.8003rem, 0.7075rem + 0.4639vi, 1.125rem);
	--text-lg: clamp(0.8539rem, 0.7362rem + 0.5882vi, 1.2656rem);
	--text-xl: clamp(0.9111rem, 0.7646rem + 0.7325vi, 1.4238rem);
	--text-xxl: clamp(0.9721rem, 0.7922rem + 0.8996vi, 1.6018rem);
	--text-xxxl: clamp(1.0372rem, 0.8187rem + 1.0925vi, 1.802rem);
}

::-moz-selection {
	color: white;
	background: var(--secondery);
}

::selection {
	color: white;
	background: var(--secondery);
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #b8b8b8;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--secondery);
}

body {
	color: #363636;
}

#product-page {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
}

/* breadcrumb */
.breadcrumb {
	margin-bottom: 15px;
	
}

.breadcrumb p {
	font-weight: 600;
	font-size: var(--text-sm);
	color: #363636;
}

.breadcrumb p a:nth-child(1),
.breadcrumb p a:nth-child(3) {
	color: #959595;
}

.breadcrumb p a:nth-child(5) {
	color: #363636;
}

/* product detials */
.product-detials-container {
	display: flex;
	gap: 20px;
	position: relative;
	border-bottom: 2px solid #d9d9d9;
	padding-bottom: 20px;
}

.product-detials-container > * {
	flex: 1;
}

/* image thumb gallery starts */
.product-thumbnail-gallery {
	height: fit-content;
	position: sticky;
	top: 150px;
	left: 0;
	margin-bottom: 20px;
}

.mySwiper2 .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.mySwiper2 .swiper-slide > img {
	width: 100%;
	aspect-ratio: 1;
	user-select: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

.swiper-button-next img,
.swiper-button-prev img {
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	padding: 5px;
	width: 35px;
	aspect-ratio: 1;
	background: #f8f8f8;
	transition: 0.2s linear;
	user-select: none;
}

.swiper-button-next img:hover,
.swiper-button-prev img:hover {
	background: #94949485;
}

.mySwiperThumb .swiper-slide {
	border: 1px solid #94949485;
	width: clamp(3.125rem, 2.161rem + 4.821vw, 6.5rem);
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	display: flex;
	opacity: 0.4;
}

.mySwiperThumb .swiper-slide-thumb-active {
	opacity: 1;
	border: 1.2px solid var(--secondery);
}

.mySwiperThumb .swiper-slide img {
	width: 100%;
	object-fit: contain;
}

/* image thumb gallery ends */

/* product detials */

.product-page-brand-share-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
}

.product-page-brand-share-icons a {
	color: #959595;
	font-weight: 500;
	font-size: var(--text-base);
}

.product-page-icons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.product-page-icons a {
	border: 1px solid var(--secondery);
	border-radius: 50%;
	display: grid;
	place-content: center;
	padding: 5px;
	position: relative;
}

.product-page-icons img {
	width: clamp(12px, 0.696rem + 0.268vw, 15px);
	aspect-ratio: 1;
}

.product-page-icons a:nth-child(1)::before {
	content: "share";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 10px;
	padding: 4px;
	border-radius: 4px;
	background: var(--secondery);
	transition: 0.2s linear;
	letter-spacing: 1px;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.product-page-icons a:nth-child(1):hover::before {
	top: -25px;
	opacity: 1;
	visibility: visible;
}

.product-page-icons a:nth-child(2)::before {
	content: "Favorite";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 10px;
	padding: 4px;
	border-radius: 4px;
	background: var(--secondery);
	transition: 0.2s linear;
	letter-spacing: 1px;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
}

.product-page-icons a:nth-child(2):hover::before {
	opacity: 1;
	visibility: visible;
	top: -25px;
}

.product-page-icons a:nth-child(3)::before {
	content: "Compare";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 10px;
	padding: 4px;
	border-radius: 4px;
	background: var(--secondery);
	transition: 0.2s linear;
	letter-spacing: 1px;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
}

.product-page-icons a:nth-child(3):hover::before {
	opacity: 1;
	visibility: visible;
	top: -25px;
}

/* product page name */
.product-page-name p {
	color: #363636;
	font-weight: 600;
	word-wrap: break-word;
	font-size: var(--text-xl);
	line-height: 1.3;
	margin-bottom: 8px;
}

.produt-rating {
	border: 1px solid rgba(0, 0, 0, 0.5);
	width: fit-content;
	padding: 2px 4px;
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 12px;
}

.produt-rating span:first-child {
	font-size: var(--text-xs);
	font-weight: 700;
}

.produt-rating img {
	width: clamp(11px, 0.652rem + 0.179vw, 13px);
}

.produt-rating span:last-child {
	color: #434343;
	font-weight: 500;
	font-size: var(--text-xxs);
}

.product-page-price {
	display: flex;
	align-items: center;
	gap: 10px;
}

.product-page-price > span {
	font-weight: 700;
	font-size: var(--text-xl);
	white-space: nowrap;
}

.product-page-price > div {
	display: flex;
	gap: 10px;
	align-items: center;
}

.product-page-price > div > span:first-child {
	font-weight: 600;
	color: #959595;
	text-decoration: line-through;
	font-size: var(--text-md);
	white-space: nowrap;
}

.product-page-price > div > span:last-child {
	border: 1px solid var(--secondery);
	width: fit-content;
	font-size: var(--text-xxs);
	font-weight: 600;
	padding: 2px 4px;
	border-radius: 4px;
	white-space: nowrap;
}

.product-page-vat p {
	color: #959595;
	font-size: var(--text-xxxs);
	margin-bottom: 30px;
}
/* coundown */
.product-page-coundown-big {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #ee1406;
	font-size: var(--text-lg);
	font-weight: 700;
	border: 2.5px solid #ee1406;
	width: fit-content;
	padding: 4px 25px 10px 25px;
	border-radius: 5px;
	margin-bottom: 25px;
}

.product-page-coundown-big .days,
.product-page-coundown-big .hrs,
.product-page-coundown-big .min,
.product-page-coundown-big .sec {
	position: relative;
}

.product-page-coundown-big .days::before {
	content: "DAYS";
	position: absolute;
	font-size: var(--text-xxxs);
	font-weight: 600;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	bottom: -8px;
}

.product-page-coundown-big .hrs::before {
	content: "HRS";
	position: absolute;
	font-size: var(--text-xxxs);
	font-weight: 600;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	bottom: -8px;
}

.product-page-coundown-big .min::before {
	content: "MIN";
	position: absolute;
	font-size: var(--text-xxxs);
	font-weight: 600;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	bottom: -8px;
}

.product-page-coundown-big .sec::before {
	content: "SEC";
	position: absolute;
	font-size: var(--text-xxxs);
	font-weight: 600;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	bottom: -8px;
}

.product-page-coundown-big .offer-expires {
	position: absolute;
	top: -12px;
	left: 50%;
	padding-inline: 9px;
	transform: translateX(-50%);
	white-space: nowrap;
	font-size: var(--text-xs);
	color: #363636;
	background: white;
}

.product-order-seller-fullfilled {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-page-order {
	display: flex;
	align-items: center;
	color: #363636;
	margin-bottom: 10px;
}

.product-page-order img {
	width: clamp(1.25rem, 1.161rem + 0.446vw, 1.563rem);
	margin-right: 5px;
}

.product-page-order p {
	font-size: var(--text-sm);
	padding-left: 8px;
	border-left: 1px solid #363636;
	white-space: nowrap;
}

.product-page-seller {
	display: flex;
	align-items: center;
	color: #363636;
	margin-bottom: 10px;
}

.product-page-seller img {
	width: clamp(0.938rem, 0.848rem + 0.446vw, 1.25rem);
	margin-right: 10px;
}

.product-page-seller p {
	font-size: var(--text-sm);
	padding-left: 8px;
	border-left: 1px solid #363636;
}

.product-page-assured > img {
	width: 100%;
}

.product-page-features {
	display: grid;
	grid-auto-flow: column;
	padding-block: 3px;
	border: 1px solid var(--secondery);
	border-radius: 2px;
	margin-block: 18px;
}

.product-page-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 5px 15px;
	overflow: hidden;
}

.product-page-feature img {
	width: clamp(15px, 0.759rem + 0.893vw, 25px);
}

.product-page-feature:not(:last-child) {
	border-right: 1px solid var(--secondery);
}

.product-page-feature > div span:first-child {
	font-weight: 500;
	font-size: var(--text-xxs);
	display: block;
	white-space: nowrap;
}

.product-page-feature > div span:last-child {
	font-weight: 600;
	font-size: var(--text-sm);
	display: block;
	white-space: nowrap;
}

.product-page-installation {
	background: #d8ffdc;
	text-align: center;
	border-radius: 9px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
	padding: 12px 15px;
	margin-block: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.product-page-installation span {
	font-size: clamp(9px, 0.491rem + 0.357vw, 13px);
	font-size: var(--text-sm);
	font-weight: 500;
}

.product-page-installation button {
	background: #25d366;
	color: white;
	font-weight: 600;
	font-size: var(--text-sm);
	border: none;
	border-radius: 5px;
	padding: 6px 12px;
	cursor: pointer;
	transition: 0.2s linear;
	white-space: nowrap;
}

.product-page-installation button:hover {
	background: #1aaf5d;
}

/* product page warranty section */
.product-page-warranty {
	background: #efefef;
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 6px 12px;
	user-select: none;
	border-radius: 4px;
	margin-bottom: 20px;
}

.product-page-warranty > * {
	margin-inline: 5px;
}

.product-page-warranty img {
	width: clamp(13px, 0.688rem + 0.625vw, 20px);
}

.product-page-warranty span:nth-child(2) {
	color: black;
	font-weight: 700;
	font-size: var(--text-sm);
}

.product-page-warranty span:nth-child(3) {
	text-decoration: underline;
	font-size: var(--text-xs);
	cursor: pointer;
}

/* product page size chart section */
.product-page-size-chart > div {
	font-weight: 600;
	font-size: var(--text-base);
}
.product-size-chart {
	display: flex;
	align-items: center;
	gap: clamp(16px, 0.929rem + 0.357vw, 20px);
	margin-block: 10px;
	flex-wrap: wrap;
}

.product-size-chart button {
	border: none;
	background: transparent;
	cursor: pointer;
	font-weight: 500;
	font-size: var(--text-sm);
	width: clamp(48px, 2.964rem + 0.179vw, 50px);
	height: 29px;
	border-radius: 2px;
	color: #9a9a9a;
	border: 0.7px solid #7f7f7f;
}

.product-size-chart button.highlight {
	font-weight: 600;
	color: #253d4e;
	border: 2.3px solid #253d4e;
}

/* product page alternative */
.product-page-alternative {
	margin-block: 20px;
}

.product-page-alternative-header {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: var(--text-base);
}
.product-page-alternative-images {
	display: flex;
	align-items: center;
	gap: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding-bottom: 10px;
}

.product-page-alternative-images::-webkit-scrollbar {
	height: 10px;
}
.product-page-alternative-image {
	flex-shrink: 0;
	width: clamp(3.313rem, 2.598rem + 3.571vw, 5.813rem);
	height: clamp(3.75rem, 2.946rem + 4.018vw, 6.563rem);
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	cursor: pointer;
}

.product-page-alternative-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	user-select: none;
}
/* product page qty */
.product-page-qty {
	margin-block: 20px;
}

.product-page-qty-header span {
	font-weight: 600;
	font-size: var(--text-base);
}

.product-page-qty-buttons {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-block: 10px;
}

.product-page-qty-buttons button {
	border: 1px solid #9a9a9a;
	width: 34px;
	height: 34px;
	border-radius: 3px;
	cursor: pointer;
	font-variant: var(--text-base);
}

.product-page-qty-buttons button:active {
	transform: scale(0.9);
}

.product-page-qty-buttons span {
	font-weight: 600;
	font-size: var(--text-base);
}

.product-page-qty-buttons .negative {
	color: black;
	background: white;
}

.product-page-qty-buttons .positive {
	color: white;
	background: #000;
}

/* product page order buttons */
.product-card-order-button {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-block: 20px;
}

.product-card-order-button button {
	border: none;
	color: white;
	font-size: var(--text-base);
	font-weight: 600;
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: 0.2s linear;
}

.product-card-order-button button:hover {
	transform: translateY(-2px);
}

.product-card-order-button button:active {
	transform: translateY(0);
}

.product-card-order-button button:first-child {
	background: #253d4e;
}
.product-card-order-button button:last-child {
	background: #25d366;
}

/* product page note */
.product-page-note {
	background: #fff6d8;
	padding: 20px;
	border-radius: 6px;
	font-size: var(--text-sm);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* product page collection */
/* frequently bought together */
.product-page-freaquently-bought-together {
	border: 1px solid #96e7ff;
	background: #d4f1fb;
	padding: 20px;
	margin-block: 20px;
}

.product-page-freaquently-bought-together-header {
	background: #000;
	text-align: center;
	width: 100%;
	padding: 6px;
	color: white;
	font-weight: 600;
	font-size: var(--text-base);
}

.mySwiperBoughtTogether .swiper-wrapper {
	position: relative;
	margin-block: 20px;
}

.mySwiperBoughtTogether .swiper-slide {
	width: fit-content;
}

.mySwiperBoughtTogether .swiper-slide:not(:last-child):before {
	content: "+";
	font-weight: 600;
	font-size: 16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -20px;
	z-index: 9999;
}

/* product-page-freaquently-bought-together-card  */
.product-page-freaquently-bought-together-card {
	width: clamp(6.563rem, 5.634rem + 4.643vw, 9.813rem);
	position: relative;
	background: white;
	padding: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	cursor: pointer;
}

.product-page-freaquently-bought-together-card input {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	border: 1px solid #23a6f0;
	border-radius: 3px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}

.product-page-freaquently-bought-together-card input:checked::before {
	content: "✓";
	color: white;
	position: absolute;
	inset: 0;
	display: grid;
	place-content: center;
}

.product-page-freaquently-bought-together-card input:checked {
	background: #23a6f0;
}

.product-page-freaquently-bought-together-img img {
	width: 100%;
}
.product-page-freaquently-bought-together-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product-page-freaquently-bought-together-price {
	font-weight: 700;
	font-size: var(--text-sm);
	margin-block: 5px;
}
.product-page-freaquently-bought-together-name {
	font-size: var(--text-xxxs);
	font-weight: 400;
	text-align: center;
}

.product-page-freaquently-bought-together-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product-page-freaquently-bought-together-total-price span:first-child {
	font-size: var(--text-sm);
}

.product-page-freaquently-bought-together-total-price span:last-child {
	font-weight: 600;
	font-size: var(--text-md);
}
.product-page-freaquently-bought-together-button button {
	border: none;
	outline: none;
	background: #23a6f0;
	font-weight: 700;
	color: white;
	font-size: var(--text-sm);
	padding: 8px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s linear;
}

.product-page-freaquently-bought-together-button button:hover {
	opacity: 0.8;
}
/* product description */
.product-page-description{
	padding-block: 20px;
	border-bottom: 2px solid #d9d9d9;
}
.product-page-description-header span{
	font-weight: 700;
	font-size: var(--text-lg);
}
.product-page-description-body p{
	font-size: var(--text-sm);
	line-height: 1.5;
	margin-block: 10px;
}

.product-page-description-body ul {
	padding-left: 35px;
}

.product-page-description-body ul li {
	margin-block: 5px;
	font-size: var(--text-sm);
	line-height: 1.5;
}

/* specifications & reviews */

.product-page-spec-reviews {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	border-bottom: 2px solid #d9d9d9;
}

/* product specification */
.specification-header {
	margin-block: 20px;
}

.specification-header span {
	font-weight: 700;
	font-size: var(--text-lg);
}

.specification-table table {
	width: 100%;
	border-collapse: collapse;
	margin: auto;
}

.specification-table table tr:nth-child(odd) {
	background: #f6f6f6;
}

.specification-table table tr td {
	padding: 8px 15px;
}

.specification-table table tr td:first-child {
	word-wrap: break-word;
	width: calc(100% / 3);
	color: #5f5f5f;
	font-weight: 500;
	font-size: var(--text-sm);
}

.specification-table table tr td:last-child {
	word-wrap: break-word;
	font-weight: 500;
	font-size: var(--text-sm);
	color: #1d1b20;
}

/* product review & questions*/
/* product review */
.product-page-reviews-question {
	margin-block: 20px;
}
.product-page-reviews {
}
.product-page-reviews-header span {
	font-weight: 700;
	font-size: var(--text-lg);
}
.product-page-reviews-rate-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.product-page-reviews-rate {
	display: flex;
	align-items: center;
	gap: 6px;
}

.product-page-reviews-rate span:first-child {
	font-weight: 700;
	font-size: var(--text-xxxl);
}

.product-page-reviews-rate img {
	width: clamp(1.25rem, 1.161rem + 0.446vw, 1.563rem);
}

.product-page-reviews-rate span:last-child {
	font-size: var(--text-xs);
}
.product-page-reviews-button button {
	border: none;
	background: var(--secondery);
	color: white;
	font-weight: 600;
	font-size: var(--text-sm);
	padding: 12px 23px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s linear;
	white-space: nowrap;
}

.product-page-reviews-button button:hover {
	background: #34546d;
}

.product-page-reviews-body {
	padding-block: 25px;
	border-bottom: 1px solid #d9d9d9;
}
.user-review {
	padding-left: 20px;
}
.user-review-header {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
}
.user-review-name {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-right: 10px;
}

.user-review-name span:first-child {
	font-weight: 500;
	font-size: var(--text-sm);
}

.user-review-name span:last-child {
	color: #959595;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: var(--text-xxs);
}
.user-review-star {
	display: flex;
	align-items: center;
	gap: 5px;
}

.user-review-star span {
	font-weight: 700;
	font-size: var(--text-sm);
}

.user-review-star img {
	width: clamp(0.813rem, 0.741rem + 0.357vw, 1.063rem);
}
.user-review-date span {
	font-size: var(--text-xxs);
}
.user-review-body-title span {
	font-weight: 700;
	font-size: var(--text-sm);
}
.user-review-body span {
	font-weight: 400;
	font-size: var(--text-xs);
}
.user-review-image {
	margin-top: 15px;
}

.userImageSlider .swiper-slide {
	width: clamp(54px, 2.839rem + 2.679vw, 84px) !important;
	border: 1px solid #c9c9c9;
	display: flex;
	user-select: none;
	cursor: pointer;
}

.userImageSlider .swiper-slide img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.product-page-question {
	margin-block: 20px;
}

.product-page-question-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-page-question-title span {
	font-weight: 700;
	font-size: var(--text-lg);
}

.product-page-question-search {
	position: relative;
}

.product-page-question-search input {
	margin: 0;
	transition: 0.2s linear;
	width: 0;
	padding-inline: 10px 25px;
	padding-block: 5px;
	border: none;
	border-radius: 8px;
	outline: none;
	font-size: var(--text-xxs);
}

.product-page-question-search input.show {
	width: 100%;
	border: 1px solid #c9c9c9;
}

.product-page-question-search img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: clamp(22px, 1.286rem + 0.446vw, 27px);
	cursor: pointer;
}

.product-page-question-body {
	padding-left: 20px;
	padding-block: 20px;
}

.product-page-question-body:not(:last-child) {
	border-bottom: 1px solid #d9d9d9;
}

.user-question-answer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-block: 10px;
	font-size: var(--text-sm);
}

.user-question::before {
	content: "Q: ";
}
.user-answer::before {
	content: "A: ";
}

/* related products */
.product-page-related-products {
	margin-block: 20px;
}
.product-page-related-products-header {
	margin-bottom: 10px;
}
.product-page-related-products-header span {
	font-weight: 700;
	font-size: var(--text-lg);
}

/* popular products */
.product-page-popular-products {
	margin-block: 20px;
}
.product-page-popular-products-header {
	margin-bottom: 10px;
}
.product-page-popular-products-header span {
	font-weight: 700;
	font-size: var(--text-lg);
}
/* media query 900px */
@media (max-width: 900px) {
	.product-thumbnail-gallery {
		position: static;
	}

	.product-page-icons {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
	.product-detials-container {
		flex-direction: column;
	}
	.product-card-order-button {
		flex-wrap: wrap;
	}

	.product-page-spec-reviews {
		grid-template-columns: 1fr;
	}
}

/* media query 768px */
@media (max-width: 768px) {
	.product-page-name p {
		/* text-align: center; */
	}

	.produt-rating {
		position: relative;
		margin-bottom: 15px;
	}

	.product-page-price {
		flex-direction: column;
		align-items: flex-start;
		gap: 5px;
	}

	.product-page-vat p {
		/* text-align: center; */
	}

	.product-page-coundown {
		left: 50%;
		transform: translateX(-50%);
	}
}

/* media query 480px */
@media (max-width: 480px) {
	.product-order-seller-fullfilled {
		/* flex-direction: column; */
		align-items: start;
		gap: 10px;
	}

	.product-page-features {
		margin-block: 14px;
	}

	.product-page-feature {
		flex-direction: column;
		gap: 5px;
		text-align: center;
		padding: 0px 15px;
	}

	.product-page-reviews-rate-button {
		flex-direction: column;
		margin-top: 15px;
	}
}
